// Relative Class
.relative {
  position: relative;
}

.small-container {
  width: 100%;
  max-width: $small-container-width;
  margin: 0 auto;
  display: flex;
}

// Delivery Information (use di -- prefix)
.di {
  &__wrapper {
    position: relative;

    padding: ($base-spacing-unit * 2) 0;
  }

  //Delivery Information  Container
  &__container {
    text-align: center;
  }

  // Delivery cart Styling
  &__cart {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    min-width: 100px;

    border-left: 1px solid $gray-light;

    // For child elements
    display: flex;
    justify-content: center;
    align-items: center;

    // inner anchor tag
    & > a {
      display: flex;
      align-items: center;
      width: 60px;
      justify-content: space-between;
    }
  }

  // Shopping Bag parent
  &__cart-icon {
    position: relative;
    min-height: 40px;
    display: inline-block;
    width: 27px;
  }

  // Shopping Bag Child
  &__cart-item-number {
    position: absolute;
    top: 4px;
    right: -10px;

    padding-top: 2px;

    width: 24px;
    height: 20px;

    border-radius: 100%;
    background-color: $primary-color;
    display: inline-block;
    color: $white;

    font-size: 12px;
    font-weight: 600;
  }

  //di__cart-arrow
  &__cart-arrow {
    position: relative;

    width: 20px;
    height: 17px;

    // Pseudo class
    &:before,
    &:after {
      content: "";
      display: inline-block;

      width: 0;
      height: 0;

      border: 10px solid transparent;
      border-top: 10px solid $primary-color;
      border-bottom: none;

      position: absolute;
      top: 4px;
      left: 0;
    }

    // Pseudo class
    &:after {
      border: 10px solid transparent;
      border-top: 10px solid white;
      border-bottom: none;
      top: 0;
    }
  }
}

//======================\\

//Home Page Slider (in First Section)
.slider {
  // Slider Wrapper
  &__wrapper {
    position: relative;
  }

  //slider__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Slider Background Image
  &__img {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;

    object-fit: cover;
    object-position: center center;
  }

  // Slider Content Styling
  &__content {
    color: $white;
    text-align: center;

    padding: ($base-spacing-unit * 14) 0;
  }

  //slider__off-price
  &__off-price {
    color: $white;

    font-size: 100px;
    font-weight: 600;
    line-height: 0.9;

    // Inner extra bold text
    span {
      font-weight: 800;
    }
  }

  // Up to Limit Text styling
  &__up-to {
    color: $white;

    font-size: 2.5em;
    font-weight: 400;
    line-height: 1;

    padding: ($base-spacing-unit * 2) 0;
  }

  // Slider button Group
  &__button-group {
    .btn {
      max-width: 220px;
      width: 40%;
    }
    .btn + .btn {
      margin-left: ($base-spacing-unit * 2);
    }
  }
}

//======================\\

// Slick Slider
.slick {
  // slick-track)
  &-track,
  &-slide {
    &:focus {
      outline: none !important;
    }
  }

  // for arrows common
  &-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 69px;
    background: url("../images/left_side_arrow.png");
    border: none;
    outline: none;
    color: transparent;
    font-size: 0;
    opacity: 0.5;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }

  // arrow prev
  &-prev {
    left: 0;
  }

  // arrow next
  &-next {
    right: 0;
    background: url("../images/right_side_arrow.png");
  }

  // For Disabled
  &-disabled {
    display: none !important;
  }
}

// Chicago's Best Pizza (cbp)
.cbp {
  //CBP BG Wrapper
  &__bg-wrapper {
    //background: url("../images/cbp_bg.jpg") no-repeat top / cover;
  }

  // CBP wrapper Styling
  &__wrapper {
    position: relative;
    z-index: 1;
    bottom: -($base-spacing-unit * 8);
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
  }

  // CBP video-container
  &__video-container {
    position: absolute;
    display: flex;
    left: 0;
    right: 40%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    transition: right ease 0.5s;

    // inner video tag
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  //cbp__video-icon
  &__video-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    background-color: rgba($black, 0.8);

    // pseudo class
    &:hover {
      opacity: 1;
    }

    & > img {
      background-color: transparent;
      opacity: 1;
    }
  }

  &__shrink-video {
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: $white;
    color: $black;
    padding: 10px 15px;
    font-weight: 900;
    font-size: 18px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;

    // pseudo class
    &:hover {
      opacity: 1;
    }
  }

  &__content-wrapper {
    width: 40%;
    float: right;
  }
}

//======================\\

// Home Page Menu Section
.menu {
  // Menu Wrapper
  &__wrapper {
    //background: url("../images/menu-sec-bg.jpg") no-repeat top / cover;
    padding: ($base-spacing-unit * 8) 0;
  }

  // List container
  &__container {
    margin: 0;
    padding: ($base-spacing-unit * 8) 0 0;
    list-style: none;

    // Child Elements alignment
    justify-content: space-between;
  }

  // Menu Item
  &__card {
    //display: flex;
    width: 30%;
    margin-bottom: $base-spacing-unit * 2;

    background-color: $white;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
  }
  // Card Header
  &__card-header {
    background-color: $primary-color;
    padding: $base-spacing-unit * 3;
  }

  // Card Icon Wrapper
  &__card-icon-wrapper {
    margin: $base-spacing-unit 0;
  }

  // Card Title
  &__card-title {
    color: $white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;

    margin: ($base-spacing-unit * 2) 0 $base-spacing-unit;
  }

  // Card Content
  &__card-content {
    font-weight: 400;

    padding: $base-spacing-unit * 3;
  }

  // See-menu-wrapper
  &__see-menu-wrapper {
    justify-content: center;

    margin: ($base-spacing-unit * 2) 0;
  }
}

//======================\\

// Catering & Events Section (prefix - cne)
.cne {
  // Catering And Event Wrapper
  &__wrapper {
    padding: ($base-spacing-unit * 8) 0;
    background-color: lighten($gray-lighter, 3%);
  }

  //cne__container
  &__container {
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: $white;

    // for child element
    & > div {
      flex: 1 1 50%;
    }
  }

  //cne__right-wrapper
  &__right-wrapper {
    background-color: $primary-color;
  }

  //cne__services-list
  &__services-list {
    list-style: none;
    margin: ($base-spacing-unit * 2) 0;
    padding: 0;

    // Service list Item LI
    & > li {
      width: 100%;
      float: left;

      margin-bottom: 10px;
    }

    // Service list Item LI
    & > li > a {
      width: 100%;
      float: left;
      padding: 20px ($base-spacing-unit * 4) ($base-spacing-unit)
        (($base-spacing-unit * 4) - 5px);

      color: $black;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;

      border-left: 5px solid transparent;

      &:hover,
      &.active {
        background-color: lighten($gray-lighter, 3%);
        text-decoration: none;
      }

      &.active {
        border-left-color: $primary-color;
        color: $primary-color;
      }
    }
  }

  //cne__card
  &__card {
    display: none;
    background-color: $primary-color;
    color: $white;

    &.active {
      display: block;
    }
  }

  //cne__card-img
  &__card-img {
    max-width: 100%;
    width: 100%;
  }

  //cne__card-content
  &__card-content {
    padding: ($base-spacing-unit * 3);
  }

  //cne__card-title
  &__card-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: $base-spacing-unit;
  }

  //cne__card-text
  &__card-text {
    font-weight: 500;
    margin-bottom: $base-spacing-unit * 2;
  }
}

//=======================\\

// Frozen Pizza Section ( -- fp --)
.fp {
  // Frozen Pizza Wrapper
  &__wrapper {
    //background: url("../images/frozen-pizza-bg.jpg") no-repeat top / cover;
    padding: ($base-spacing-unit * 8) 0;
  }

  // fp__container
  &__container {
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: $white;

    & > div {
      flex: 1 1 50%;
      display: flex;
    }
  }

  // Frozen Pizza dishes
  &__dishes {
    margin: 0;
    padding: 0;

    min-height: 100%;

    list-style: none;

    flex-wrap: wrap;

    // child Styling
    & > li {
      flex: 1 1 50%;

      width: 50%;
      min-height: 50%;
      float: left;
    }

    // Anchor tag Styling
    & a {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;
      overflow: hidden;

      position: relative;
      z-index: 0;

      background-color: $primary-color;

      color: $white;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;

      &:after {
        content: "";
        position: absolute;
        background-color: rgba($black, 0.5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
      }

      // hover Styling
      &:hover {
        text-decoration: none;

        // image transition effect
        img {
          width: 110%;
          height: 110%;
        }
      }
    }

    // Image Styling
    & img {
      transition: all 0.2s linear;
      left: unset;
      top: unset;
    }

    & .fp__dish-title {
      z-index: 2;
    }
  }

  &__signature-content {
    display: inline-block;

    & > * {
      display: block;
      text-align: center;
    }

    & > span + span {
      margin-top: 25px;
    }
  }

  &__icon-signature {
    font-size: 4em;
  }
}

//=======================\\

// Earn A Free Pizza Section (prefix - earn)
.pfoot {
  // Wrapper
  &__wrapper {
    background: $primary-color url("../images/earn-pizza-bg.png") no-repeat left
      50vw bottom 10%;
    color: $white;

    padding: ($base-spacing-unit * 8) 0;
  }

  &__title {
    font-size: 3.4em;
    font-weight: 600;
  }

  //earn__content
  &__content {
    font-size: 20px;
    font-weight: 400;
    margin: ($base-spacing-unit * 2) 0;
  }
}

//Tooltip Styling
.tooltip {
  //tooltip__wrapper
  &__wrapper {
    display: none;
    position: fixed;
    //left: -110%;
    //top: 50%;
    transform: translateY(-100%) translateX(-100%);

    // For ie_view
    @include ie {
      position: absolute !important;
      left: -50% !important;
      transform: translateY(-100%) translateX(-70%) !important;
    }
  }

  // tooltip__container
  &__container {
    min-width: 264px;
    float: left;
    background-color: $black;
    border-radius: 20px;
    overflow: hidden;

    // arrow
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-left: 15px solid $black;
      border-right: none;

      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);

      // For ie_view
      @include ie {
        right: -36px;
      }
    }
  }

  // tooltip__list
  &__list {
    margin: 0 0;
    padding: 0;
    width: 100%;
    float: left;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & + & {
      border-top: 2px solid $gray-dark;
    }
  }

  //tooltip__list-item
  &__list-item {
    display: flex;
    flex: 1 1 33.333%;

    // for IE
    width: 33.333%;
    float: left;
    margin: 10px 0;

    // For Next LI
    & + li {
      border-left: 1px solid $gray-dark;
    }

    &.selected {
      background: $gray-dark;
      margin: 0;
      padding: 10px 0;

      & + li {
        border-left: 1px solid transparent;
      }

      a {
        color: $primary-color;
      }
    }
  }

  // tooltip__option
  &__option {
    color: $white;

    width: 100%;
    height: 100%;
    padding: 5px $base-spacing-unit;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus,
    &:visited {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

//=======================\\

// Pizza Sauce Styling
.sauce {
  // sauce__pizza
  &__pizza {
    width: 20px;
    height: 20px;
    border-radius: 20px;

    position: relative;

    background: $white;
    border: 1px solid $white;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
    }

    // Before
    &:before {
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background: $primary-color;
      top: 1px;
    }

    // After
    &:after {
      width: 10px;
      height: 20px;
      background: $white;
      top: 0;
      z-index: 2;
    }
  }

  // Sauce Half Left
  &__half-left {
    // Before
    &:before {
      left: 1px;
    }

    // After
    &:after {
      right: 0;
    }
  }

  // Sauce Half Right
  &__half-right {
    // Before
    &:before {
      right: 1px;
    }

    // After
    &:after {
      left: 0;
    }
  }

  // Sauce Full
  &__full {
    background: $primary-color;
    &:before,
    &:after {
      display: none;
    }
  }
}

//=======================\\

// Button Group
.btn {
  // Btn Group
  &__group {
    width: 100%;
    float: left;

    border-radius: $border-radius-large;
    background-color: $primary-color;
    color: $white;
    overflow: hidden;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Inner Element Styling
  &__group-item {
    width: 50%;
    float: left;

    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;

    flex: 1 1 50%;
    // For ie_view
    @include ie {
      flex: 1 1 100%;
    }

    // For Next Element
    & + & {
      border-left: 1px solid lighten($primary-color, 15%);
      border-radius: 0;
    }
  }
}

//=======================\\

// price__wrapper
.price__box {
  font-size: 18px;
  line-height: 1;

  // for sup element
  sup {
    top: -5px;
  }
}

//=======================\\

// Popup Styling
.popup {
  // Popup Wrapper
  &__wrapper {
    display: block;
    overflow-y: auto;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(30, 38, 35, 0.65);
  }

  // Popup Container
  &__container {
    z-index: 101;
    width: 95%;
    max-width: 1000px;
    display: block;
    background-color: #ffffff;
    margin: 0 auto 30px;
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
  }

  //popup__header
  &__header {
    background: $primary-color;
    color: $white;
    text-align: center;

    padding: ($base-spacing-unit * 2) 0;
  }

  //popup__close
  &__close {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;

    background-color: $white;
    width: 45px;
    height: 45px;
    border-bottom-left-radius: 35px;

    box-shadow: none;
    border: none;
    appearence: none;
    cursor: pointer;

    // for pseudo classes
    &:focus,
    &:hover,
    &:link,
    &:visited {
      outline: none;
    }

    // for inner content
    font-weight: 900;
    color: $primary-color;
    font-size: 16px;
  }

  // Popup Overlay
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

//===========================\\

// Tick Mark Styling
.tick-mark {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 0;

  // after pseudo class
  &:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }

  // Before pseudo class
  &:before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: $primary-color;
    box-shadow: 0 0 15px 0 $black; //0 0 5px 1px rgba($primary-color, .5);
  }

  &.black {
    &:before {
      background-color: $black !important;
    }
  }
}

//===========================\\

//checkbox__group-label
.checkbox {
  &__group-label {
    position: relative;
    float: left;

    display: flex;
    align-items: center;
    margin-bottom: 0;

    & + & {
      margin-left: 15px;
    }
  }

  //checkbox__input
  &__input {
    display: none;

    & + .tick-mark {
      box-shadow: none;
      float: left;

      &:before {
        background-color: lighten($gray-light, 40%);
        box-shadow: none;
      }

      &:after {
        display: none;
      }
    }

    &:checked + .tick-mark {
      &:before {
        background-color: $primary-color;
      }

      &:after {
        display: block;
      }
    }

    // for Check box button
    &[type="checkbox"] + .tick-mark {
      &:before {
        border-radius: 0;
      }
    }
  }

  //checkbox__label
  &__label {
    display: inline-block;
    padding-left: 15px;
  }
}

//===========================\\

//add to cart option
.inc_dec {
  width: 100%;

  background-color: $dark-grey;

  padding: 8px 8px;
  border-radius: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

// add to cart button
.inc_dec input[type="button"] {
  background: $primary-color;
  color: $white;
  border: 1px solid $primary-color;

  font-size: 16px;
  width: 21px;
  height: 21px;
  padding: 0px 5px 6px 5px;
  border-radius: 50%;
  font-weight: 600;
}

// add to cart field
.inc_dec input[type="text"] {
  border: 0;
  background-color: transparent;
  color: #000;
  text-align: center;
  font-weight: 600;
}

//===========================\\

// ingredient Styling
.ingredient {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0;
  //transition: linear .5s;

  //For Inner Image Styling
  img {
    height: 100%;
    max-height: 100%;
  }

  // For Seleted ingredient
  &.selected {
    opacity: 1;
  }

  // For Full sauce or ingredient
  &__full {
    left: 0;
    right: 0;

    // For inner image of Full sauce or ingredient
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  // For Half Left sauce or ingredient
  &__left {
    left: 0;
    right: 50%;
  }

  // For Half right sauce or ingredient
  &__right {
    right: 0;
    left: 50%;

    // For inner image styling of  Half Right Sauce or ingredient
    img {
      float: right;
    }
  }
}

//======================\\

// red circle for plus & minus
.primary-circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  color: $white;
  font-weight: 400;
  line-height: 1;
  background-color: $primary-color;
  font-size: 30px;
}

//======================\\

// gray hollow circle
.hollow-circle {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  color: $gray-light;
  font-weight: 400;
  line-height: 1;
  border: 1px solid $gray-light;
  font-size: 30px;
}

//======================\\

// black rounded icon
.round-icon {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid $black;
  border-radius: 50px;

  color: $primary-color;
  font-weight: 400;
  line-height: 1;
}

//======================\\

// Object Fit Styling
.objectfit {
  //For Object Fit images Coantainer
  &__container {
    position: relative;
  }

  // for Image styling
  &__image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
  }

  // when object fit will not support
  &__compat {
    background-size: cover;
    background-position: center center;

    // hide image if object fit is not supported
    .objectfit__image {
      opacity: 0;
    }
  }
}
//========================\\

// For Page Header
.page {
  &__title {
    color: $white;
    padding: 4rem 0;
    margin: 0;
    font-size: 52px;
    font-weight: 600;
    text-align: center;
  }
}
