// Relative Class
.relative {
  position: relative;
}

//layout structure

.container-fluid{
  width:100%;
  margin: 0;
  padding: 0;
}

.container{
  width:1000px;
}


.small-container {
  width: 100%;
  max-width: $small-container-width;
  margin: 0 auto;
  display: flex;
}

