// Relative Class

.hoc {
  display: block;
  margin: 0 auto;
  width:1000px;
}
.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

*, *::before, *::after {
  transition: all .3s ease-in-out;
}