//==========================\\
//=====Anil Kashyap=========\\
//=====@Homepage css=========\\
//==========================\\

/**Header start**/

.header{
    background: #ccc;
    height: 100px;
    width: 100%;
}