//==========================\\
//=====Anil Kashyap=========\\
//=====@Homepage css=========\\
//==========================\\

.homepage{
 
  /**BG - homepage**/
  &__background{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__pageintro {
    padding: 150px 0 250px;
    color: $white;
 }

 &__list-styling{
   @extend .header__list-styling ;
   color:$white;
 }

 &__home-tilte{
   margin: 0 0 20px 0;
   text-transform: uppercase;
   font-size: 1.2rem;
   letter-spacing: 5px;
 }

 &__heading{
   margin-bottom: 20px;
    font-size: 4rem;
 }

 &__list-styling li{
   margin-right: 20px;
   border-right: none;
   a{
    color:$white;
   }
 }

 &__article {
   display: block;
   max-width: 65%;
   margin: 0 auto;
   text-align: center;
 }

 /**section title**/
 &__sectiontitle {
   display: block;
   max-width: 55%;
   margin: 0 auto 80px;
   text-align: center;
  }

 &__sectiontitle .heading{
   margin-bottom: 0;
  }

}


/**Section two (category)**/

.category{
  
  &__introblocks{
    color: #474747;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    margin: -180px 0 80px;
    padding: 80px 0 0 0;
    border-radius: 10px;
    font-size: 14px;
  }

  &__introblocks article {
    display: block; 
   position: relative;
   padding: 0 0 0 95px;
   line-height: normal;
   text-align: left;
 }

  &__introblocks article  i{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    overflow: hidden;
    line-height: 1;
    font-size: 65px;
  }

  &__sectiontitle {
    @extend .homepage__sectiontitle ;
  }

  &__one_third{
    list-style: none;
    margin: 14px;
    width: 30%;
  }
  
}

/**Section three (services)**/
.services{

  &__figure{
    max-width: 320px;
    display: block;
    margin: 0;
    padding: 0;
  }
  &__figure img{
    margin-bottom: 30px;
  }
  &__one_third{
    @extend .category__one_third ;
  }
  &__alignview{
  width:1000px;
  margin: 0 auto;
  }
  &__sectiontitle{
    @extend .category__sectiontitle ;
  }

}

