//  ===============================
//  @author: SYED
//  @package: Global header module
//  ===============================

.header {
  // Main wrapper
  &__wrapper {
    background: $primary-color;
    padding: $base-spacing-unit 0;
  }
  // Homepage Header
  &__homepage {
    background: transparent;
    padding: 15px 0;
    position: fixed;
    z-index: 100;
    top: 0;
  }

  // Header Container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Logo container
  &__logo {
    display: block;
    float: left;

    width: 150px;
  }

  // Header Navbar
  &__navbar {
    float: right;

    // inner UL
    & > ul {
      margin: 0;
      padding: 0;

      list-style-type: none;
      width: 100%;
      float: right;

      display: flex;
      align-items: center;
    }

    // Inner List Item LI
    & > ul > li {
      margin-left: ($base-spacing-unit * 2);
    }

    // menu anchor tag
    & > ul > li > a {
      //display: block;
      color: $white;
      font-weight: 500;

      &:hover, &:focus, &:visited, &:active{
        text-decoration: none;
      }
    }
  }

  &__hamburger-icon {
    font-size: 34px;


  }

  // Hamburger icon

  // &__menu-icon {
  //   width: 100%;
  //   text-align: right;
  //   padding: 15px 24px;
  //   cursor: pointer;
  //   color: $white;
  //   display: none;

  //   width: 35px;
  //   height: 5px;
  //   background-color: #ffffff;
  //   margin: 6px 0;
  // }

  // header__Nav Buttons
  &__nav-buttons {
    & > a + a {
      margin-left: 15px;
    }
  }
}

.down {
  width: 0%;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  padding-bottom: 2px;
  margin-left: 10px;
  display: inline-block;
}

// Fix Header

.red {
  background-color: $primary-color;
}
